p {
  color: red;
  text-align: center;
  font-size: xx-large;
}
h1 {
  background-color: blue;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 360px;
  object-fit: cover;
  border-style: dotted;
  border-width: 100px;
  border-color: green;
  text-align: center;
}
body {
  display: flex;
  justify-content: flex-end;
}
